<!-- registration_email.html -->

<!DOCTYPE html>
<html>
    <body style="font-family: Arial, sans-serif; line-height: 1.6;">
        <h2 style="color: #2F4F4F;">New Registration Details</h2>
        <p><strong>First Name:</strong> {{ first_name }}</p>
        <p><strong>Last Name:</strong> {{ last_name }}</p>
        <p><strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a></p>
        <p><strong>Phone:</strong> {{ phone }}</p>
        <p><strong>Certification Level:</strong> {{ certification_level }}</p>
    </body>
</html>