{% extends 'main/base.html' %}
{% load static i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
{% endblock %}

{% block title %}{% trans "Contacts - Nautilus" %}{% endblock %}

{% block content %}
    <h1 class="mb-4">{% trans "Contacts" %}</h1>

    <!-- Contact 1 -->
    <div class="contact-card mb-4 row">
        <div class="col-md-4">
            <img src="{% static 'main/img/person_placeholder.svg' %}" class="img-fluid" alt="{% trans "Contact 1" %}">
        </div>
        <div class="col-md-8">
            <h5 class="contact-name">John Doe</h5>
            <p class="contact-position">{% trans "Position: Instructor" %}</p>
            <p class="contact-email">
                <a href="mailto:john.doe@example.com">john.doe@example.com</a>
            </p>
        </div>
    </div>
    <!-- Add more contacts as needed -->
    <div class="contact-card mb-4 row">
        <div class="col-md-4">
            <img src="{% static 'main/img/person_placeholder.svg' %}" class="img-fluid" alt="{% trans "Contact 1" %}">
        </div>
        <div class="col-md-8">
            <h5 class="contact-name">John Doe</h5>
            <p class="contact-position">{% trans "Position: Instructor" %}</p>
            <p class="contact-email">
                <a href="mailto:john.doe@example.com">john.doe@example.com</a>
            </p>
        </div>
    </div>
    <div class="contact-card mb-4 row">
        <div class="col-md-4">
            <img src="{% static 'main/img/person_placeholder.svg' %}" class="img-fluid" alt="{% trans "Contact 1" %}">
        </div>
        <div class="col-md-8">
            <h5 class="contact-name">John Doe</h5>
            <p class="contact-position">{% trans "Position: Instructor" %}</p>
            <p class="contact-email">
                <a href="mailto:john.doe@example.com">john.doe@example.com</a>
            </p>
        </div>
    </div>
{% endblock %}
