.card {
    background-color: #f7f6f4;
}
.link-red {
    width: 150px;
}
.link-red a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #e84007;
}
.link-red:hover a {
    text-decoration: none;
    padding: 0 5px;
    border-bottom: 2px solid #e84007;
}
.chevron-red {
    color: #e84007;
}